

.background {
  background-color: lightblue;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

html {
  background-color: lightblue;
  height:100%;

}

.root {
  background-color: lightblue;
}

.centered {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 150vh;
  height: 150vw;
  background-color: lightblue;
}

/* For Homesettings */
.sub_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* We don't want the default checkbox to occur here */
.sub_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.sub_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.sub_container:hover input ~ .sub_checkmark {
  background-color: #ccc;
}

.sub_container input:checked ~ .sub_checkmark {
  background-color: #2196F3
}

/* Create checkmark/indicator */
.sub_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sub_container input:checked ~ .sub_checkmark:after {
  display: block;
}

.sub_container .sub_checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-tranform: rotate(45deg);
  transform: rotate(45deg);
}